*{
    padding: 0;
    margin: 0;
}
.Menubar{
 padding: 50px;
}
.nav-wrapper{
    color: white;
}
  @media screen and (max-width:300px) {
   .limtedOffer{
    display: none;
   }
   .sneakers{
    display: none;
   }
   }
.limtedOffer{
  color: white;
  
}
.sneakers{
    color: white;
    width: 10px;
}
.search{
display: flex;
text-align: center;
align-items: center;
justify-content: space-between;
}
.searchImage{
    width: 20px;
    height: 20px;
    margin: 5px;
}